.submitButton,
.searchInput {
  all: unset;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-size: 100%;
  outline: none;
}

.searchBarBackground {
  background-color: #3846ad;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  min-width: 210px;
}

input.searchInput {
  width: 100%;
}
